= javascript_pack_tag 'designer_order_pack'

div
  .spacing-xl-h
h1 Заказы
div
  .spacing-m-h

.order_pack data-props=@designer_json

//.nav_tab
//  .tab.active.p Новые
//  .tab.p Отправленные
//  .tab.p Завершенные
//
//div
//  .spacing-xl-h
//
