@import "colors";

// HOME PAGE

@mixin cards_flow($m_left, $m_right) {
  display: flex;
  flex-wrap: wrap;
  margin-left: $m_left;
  margin-right: $m_right;
}

.l_item_cards {
  @include cards_flow(-16px, -32px);
}

.s_item_cards {
  @include cards_flow(-16px, -32px);
}

// SHOW

.item_details {
  margin-left: 96px;
  width: 512px;
}

.m_look_cards {
  @include cards_flow(-16px, -32px);
}
