// Place all the styles related to the Looks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "colors";
@import "components";

// HOME PAGE
.look_additional_info {
  display: flex;
  .quote {
    width: 256px;
    height: 220px;
  }
  .additional_info {
    width: 544px;
    height: 252px;
  }
}

// SHOW
.no_title {
  .look_card {
    .description {
      h2:first-child {
        display: none;
      }
    }
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  img {
    margin-bottom: 32px;
    @include images(544px, 786px);
  }
}

.button_star_container {
  display: flex;
  justify-content: center;
  .button_star {
    @include star(188px);
  }
}
