// Place all the styles related to the Looks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'colors';

.look_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .look_card {
    margin-top: 32px;

    .cover {
      background-color: $purple;
      width: 256px;
      height: 240px;
      border-radius: 9px;
    }

    .look_card_info {
      display: flex;
      justify-content: space-between;
      margin: 8px 8px 0;
    }
  }
}