.menubar {
  width: 100%;
  height: 64px;
  color: #FFF;
  background-color: #2D2D2D;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    background-image: url("logo.png");
    margin-left: 160px;
    background-size: contain;
    width: 70px;
    height: 24px;
  }

  .icons,
  .menu_items {
    display: flex;
    align-content: center;
  }

  .menu_items {
    a {
      margin-left: 32px;
    }
  }

  .icons {
    margin-right: 160px;

    a {
      margin-left: 16px;
    }

    .bag,
    .bell,
    .like {
      background-size: contain;
      background-repeat: no-repeat;
    }

    .bell {
      background-image: url("bell_icon.svg");
      width: 16px;
      height: 20px;
    }

    .like {
      background-image: url("like_icon.svg");
      width: 20px;
      height: 16px;
    }

    .bag {
      background-image: url("bag_icon.svg");
      width: 18px;
      height: 18px;
    }
  }
}