// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ORDER CARD

.order {
  position: relative;

  .l_button.primary {
    position: absolute;
    right: 32px;
  }
  &:hover {
    cursor: pointer;
    box-shadow: -16px 16px 32px 0px rgba(67,86,100,0.16);
  }
}
