// ORDER CARD

.order {
  position: relative;

  .l_button.primary {
    position: absolute;
    right: 32px;
  }
  &:hover {
    cursor: pointer;
    box-shadow: -16px 16px 32px 0px rgba(67,86,100,0.16);
  }
}

// ORDER FORM

.order_form {
  display: flex;
  flex-direction: column;
}
