@import 'colors';

// ORDER CARD

.order {
  position: relative;

  &:active {
    color: $black;
  }

  .l_button.primary {
    position: absolute;
    right: 32px;
  }
  &:hover {
    cursor: pointer;
    box-shadow: -16px 16px 32px 0px rgba(67,86,100,0.16);
  }
}

// ORDER FORM

.order_form {
  display: flex;
  flex-direction: column;
}

// ORDER SHOW REFINEMENT
.order_refinement {
  h1 {
    display: flex;
    align-items: center;
    span {
      margin-left: 20px;
    }
  }
  .refinement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    textarea {
      width: 100%;
      margin-bottom: 24px;
    }

    .default_input {
      margin-bottom: 20px;
    }
  }
}
