// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// order_added
.order_added {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
